[submodule "oss/LuneScript"]
	path = oss/LuneScript
	url = https://github.com/ifritJP/LuneScript.git
[submodule "oss/fengari-web"]
	path = oss/fengari-web
	url = https://github.com/fengari-lua/fengari-web.git
[submodule "oss/jszip"]
	path = oss/jszip
	url = https://github.com/Stuk/jszip.git
